<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Elite Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>You are not currently following any teams.</p>
  <p>First select a Tournament, then you can follow teams their team page.</p>
  
  <ion-button expand="full" (click)="goToTournaments()">Find a Tournament</ion-button>
</ion-content>
