<ion-header>
  <ion-toolbar>
    <ion-title>Tournaments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="navigate()">Go Back</ion-button>

  <ion-list>
    <ion-item (click)="itemTapped()">
      <ion-label>March Madnaess</ion-label>
    </ion-item>
    <ion-item (click)="itemTapped()">
      <ion-label>Summer Showdown</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
