<ion-header>
  <ion-toolbar>
    <ion-title>Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let team of teams" (click)="itemTapped($event, team)">
    <!-- <ion-item *ngFor="let team of teams" [routerLink]="['/teams', team.id]"> -->
      <ion-label>{{team.name}}</ion-label>
    </ion-item>
  </ion-list>    
</ion-content>
